<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airpods.ultimate">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:label="AirPods Ultimate"
        android:theme="@style/Theme.AirPodsUltimate">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <service
            android:name=".AirPodsService"
            android:exported="false"/>

    </application>
</manifest>
